<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SMS.My.MySettings>
            <setting name="AppTitle" serializeAs="String">
                <value>School Management System</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value>enrollment</value>
            </setting>
            <setting name="SchoolName" serializeAs="String">
                <value />
            </setting>
            <setting name="SchoolAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="SchoolAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalName" serializeAs="String">
                <value />
            </setting>
            <setting name="SchoolCode" serializeAs="String">
                <value>MAIN</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.0.0.54</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>eSMS</value>
            </setting>
        </SMS.My.MySettings>
    </userSettings>
</configuration>
